In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/large_countries_2015.csv",index_col=0)
df

                 population  fertility      continent
Bangladesh     1.609956e+08       2.12           Asia
Brazil         2.078475e+08       1.78  South America
China          1.376049e+09       1.57           Asia
India          1.311051e+09       2.43           Asia
Indonesia      2.575638e+08       2.28           Asia
Japan          1.265735e+08       1.45           Asia
Mexico         1.270172e+08       2.13  North America
Nigeria        1.822020e+08       5.89         Africa
Pakistan       1.889249e+08       3.04           Asia
Philippines    1.006994e+08       2.98           Asia
Russia         1.434569e+08       1.61         Europe
United States  3.217736e+08       1.97  North America

In [5]:
df.isnull()

               population  fertility  continent
Bangladesh          False      False      False
Brazil              False      False      False
China               False      False      False
India               False      False      False
Indonesia           False      False      False
Japan               False      False      False
Mexico              False      False      False
Nigeria             False      False      False
Pakistan            False      False      False
Philippines         False      False      False
Russia              False      False      False
United States       False      False      False

In [8]:
df.isnull().sum()

population    0
fertility     0
continent     0
dtype: int64

In [10]:
df.dtypes

population    float64
fertility     float64
continent      object
dtype: object

In [15]:
df["continent"].isin(["Asia", "Europe","Africa", "North America", "South America"]).count()

12

In [18]:
df["continent"].value_counts()

Asia             7
North America    2
South America    1
Africa           1
Europe           1
Name: continent, dtype: int64

In [19]:
df_asia = df[df["continent"] == "Asia"]
df_asia

               population  fertility continent
Bangladesh   1.609956e+08       2.12      Asia
China        1.376049e+09       1.57      Asia
India        1.311051e+09       2.43      Asia
Indonesia    2.575638e+08       2.28      Asia
Japan        1.265735e+08       1.45      Asia
Pakistan     1.889249e+08       3.04      Asia
Philippines  1.006994e+08       2.98      Asia

In [25]:
df_population = df[df["population"] > 250000000]
df_population

                 population  fertility      continent
China          1.376049e+09       1.57           Asia
India          1.311051e+09       2.43           Asia
Indonesia      2.575638e+08       2.28           Asia
United States  3.217736e+08       1.97  North America

In [52]:
df_population_between = (df["population"] > 100000) & (df["population"] < 250000000)
between = df[df_population_between]
between

              population  fertility      continent
Bangladesh   160995642.0       2.12           Asia
Brazil       207847528.0       1.78  South America
Japan        126573481.0       1.45           Asia
Mexico       127017224.0       2.13  North America
Nigeria      182201962.0       5.89         Africa
Pakistan     188924874.0       3.04           Asia
Philippines  100699395.0       2.98           Asia
Russia       143456918.0       1.61         Europe

In [56]:
df_asia_fertility = df_asia[df_asia["fertility"] < 1.8]
df_asia_fertility

         population  fertility continent
China  1.376049e+09       1.57      Asia
Japan  1.265735e+08       1.45      Asia